extends layout.pug

block content
    div(class='container col-md-8 col-md-offset-8')
        div(class="card mb-3")
            if !post.file 
                img(src="/static/images/wallpaper.jpg" class="card-img-top" alt="...")
            else
                img(src=`/image/${post.file.filename}` class="card-img-top" alt="...") 
            div(class="card-body") 
                h5(class="card-title")= post.title
                p(class="card-text")= post.summary
                p(class="card-text") 
                    a(href=`${post.url}` target='_blank')= post.url 
                small(class="text-muted")  Last updated #{moment(post.updatedAt).fromNow()} by 
                |
                small=  post.author.username
                div(class="text-right")
                    a(href=`/n/${post.subreddit}`)= post.subreddit

        form(action=`/posts/${post._id}/comments` method="post") 
            textarea(class='form-control' name="content" placeholder="Comment")
            div(class="text-right comment-button") 
                button(type="submit" class="btn btn-primary") Save
        
        each comment in post.comments
            div(class="card comment-card comments")
                div(class="card-body")= comment.content
                    div(class='text-right')
                        a(href=`/posts/${post._id}/comments/${comment._id}/replies/new`) Reply
                div(class="text-right comment-username")
                    small(class="text-muted")  Last updated #{moment(comment.updatedAt).fromNow()} by 
                    |
                    small=  comment.author.username
            each subcomment in comment.comments
                div(class="card comment-card col-md-10 col-md-offset-10 subcomments")
                    div(class="card-body")= subcomment.content
                    div(class="text-right comment-username")
                        small(class="text-muted")  Last updated #{moment(subcomment.updatedAt).fromNow()} by 
                        |
                        small=  subcomment.author.username          